.container {
  background-color: #3e2f92; /* Violeta oscuro */
  color: #fff;
  padding: 2rem;
  border-radius: 20px;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #ffbd59; /* Amarillo cálido */
  margin-bottom: 2rem;
  font-weight: bold;
}

.infoBox {
  background-color: #ffdfb5; /* Fondo claro tipo pastel */
  padding: 1.5rem;
  border-radius: 16px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.infoBox p {
  margin: 0.5rem 0;
  color: #3e2f92;
  font-weight: bold;
}

.responseSection {
  background-color: #ffdfb5;
  padding: 1.5rem;
  border-radius: 16px;
  padding-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.responseSection h2 {
  color: #3e2f92;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.responseList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.responseList li {
  margin-bottom: 1.2rem;
  background-color: #ffffff;
  color: #3e2f92;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.backButton {
  background-color: #3e2f92;
  color: #fffbd4;
  padding: 12px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #ffbd59;
  color: #3e2f92;
}
