body,
html {
  background-color: #3e2f92; /* fondo general violeta */
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.tittleAndCounter {
  padding-top: 10px;
  margin: 0 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
}

.mainTitle {
  font-size: 36px;
  color: #fff8e7;
  margin: 0;
}

.counter {
  font-size: 18px;
  color: #fff8e7;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px 20px;
  background-color: #fdf4ec;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: bold;
}

.emptyMessage {
  color: #b0aeb5;
  font-size: 16px;
}

.formList {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: left;
}

.formItem {
  background: #e3d8ff;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e2f92;
  font-weight: normal;
}

.viewButton {
  background-color: #3e2f92;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.viewButton:hover {
  background-color: #241a66;
}

.uploadContainer {
  text-align: center;
  margin-top: 30px;
}

.uploadButton {
  background-color: #ffbd59;
  color: #3e2f92;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.uploadButton:hover {
  background-color: #3e2f92;
  color: #fffbd4;
}
