body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d4e157; /* Verde claro inspirado en el logo */
  color: #000000; /* Texto negro */
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #000000; /* Fondo negro */
  color: #d4e157; /* Texto verde claro */
  font-size: 2.5rem;
  font-weight: bold;
}

.container {
  max-width: 800px; /* Aumenta el tamaño del contenedor */
  margin: 30px auto;
  padding: 30px; /* Aumenta el padding para más espacio dentro */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 15px; /* Aumenta el padding para más espacio dentro de los inputs */
  border: 1px solid #000000; /* Borde negro */
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 15px 20px; /* Aumenta el padding para los botones */
  border: none;
  border-radius: 5px;
  background-color: #000000; /* Fondo negro */
  color: #d4e157; /* Texto verde claro */
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #616161; /* Gris oscuro para hover */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #d4e157; /* Fondo verde claro */
  color: #000000; /* Texto negro */
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
